
Layout/Controller Interface/Controller Interface-backups/
Layout/Console Interface/Console Interface-backups/
Code/Adapter/build/
Code/Controller Interface Test/build/
Code/RF24/cmake/
*.kicad_sch-bak
*.lck
/Layout/Controller Interface/output
/Layout/Console Interface/output
/Code/Loopback Test/build
/Code/Adapter/.vscode
/Code/Adapter/_deps
/Code/Adapter/CMakeFiles
/Code/Adapter/pico-sdk
/Code/Adapter/picotool
/Code/Adapter/generated
