
Layout/Controller Interface/Controller Interface-backups/
Layout/Console Interface/Console Interface-backups/
Code/Adapter/build/
Code/Controller Interface Test/build/
Code/RF24/cmake/
*.kicad_sch-bak
